body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 20px;
    background-color: #f0f8ff;
    color: #333;
}

#headerText {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #0056b3;
  margin-bottom: 20px;
  text-align: center;
}

.rainbowText {
  animation: rainbow 2s linear infinite;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#text-input {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#submit-button {
    padding: 12px 24px;
    font-size: 1em;
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-left: 20px;
}

#submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#submit-button:focus {
    background-color: #0056b3;
    transform: scale(1.1);
    outline: none;
}

#results {
    margin-top: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: justify;
    max-width: 600px;
    font-weight: 300;
    margin: 0 auto;
    line-height: 1.6;
}

#submission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.oowboyStyling {
    width: 100px;
    height: 100px;
    padding: 0;
}

@keyframes rainbow {
  0% { color: red; }
  16% { color: orange; }
  33% { color: yellow; }
  50% { color: green; }
  66% { color: blue; }
  83% { color: indigo; }
  100% { color: violet; }
}

/* @keyframes dance {
    0%, 100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(7px, -7px);
    }
    50% {
      transform: translate(15px, 0);
    }
    75% {
      transform: translate(7px, 7px);
    }
  } */

@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.oowboyStyling.dance {
    animation: dance 1s infinite;
}